/*---------- RESET ----------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
input,textarea{-webkit-border-radius:0;}
input[type=submit],
input[type=button]{-webkit-appearance:none;}
::-webkit-input-placeholder {color:#aaa;}
::-moz-placeholder{color:#aaa;}
body{line-height:1;-webkit-text-size-adjust:none;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content: '';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
*, *:after, *:before {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
    box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

/*---------- GENERAL STYLES ----------*/
a{text-decoration:none;color:#414043;
	-webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
p{margin-bottom:15px;line-height:20px;}
img{max-width:100%;width:100%;padding:0;margin:0;border:none;display:block;}
.clearfloat{zoom:1;}
.clearfloat:before,
.clearfloat:after{content:"";display:table;}
.clearfloat:after{clear:both;}

/*---------- LAYOUT ----------*/
html, body{height:100%;width:100%;}
body{background-color:#222;font-family:Arial, sans-serif;font-size:14px;color:#333;line-height:20px;}
#main_wrapper{position:relative;width:100%;overflow:hidden;height:auto;min-height:100%;}
#content_container{
	width:100%;
	min-height:100%;
	position:relative;
	left:auto;
	right:0;
	-webkit-transition:all 0.2s ease-in-out 0s;
	transition:all 0.2s ease-in-out 0s;
	background-color:#f3f3f3;
	z-index:999;
}
.menu-open #content_mask{position:absolute;z-index:1000;top:0;bottom:0;right:256px;left:0;}

.menu-open #content_container{position:absolute;top:0;bottom:0;right:256px;left:auto;height:0;}

#content_container .content-wrapper{padding:20px;}

/*----- HEADER -----*/
#header{background-color:#fff;width:100%;border-bottom:1px solid #dcdcdc;}
#header .menu-icon{width:47px;height:47px;float:right;cursor:pointer;}
#header .icon{background:url(../images/icons-sprite.png) 0 0 no-repeat;background-size:700%;display:block;}
#header .menu-icon span{width:18px;height:15px;margin:15px auto 0 auto;background-position:0 0;}
.menu-open #header .menu-icon span{background-position:-18px 0;}
#header .logo{display:block;width:111px;margin:8px auto 0 auto;}
#header .search-icon{width:47px;height:47px;float:left;cursor:pointer;}
#header .search-icon span{width:20px;height:20px;margin:15px auto 0 auto;background-position:-40px 0;}
.search-open #header .search-icon span{background-position:-60px 0;}


/*----- MOBILE MENU -----*/
#mobile_nav_wrapper{width:256px;height:100%;padding:0;overflow:hidden;position:absolute;right:0;
	background-color:#222;
}
.menu-open #mobile_nav_wrapper{display:block;position:relative;float:right;}

#mobile_nav_wrapper .mobile-nav-content{position:relative;z-index:100;}

.mobile-nav li{border-bottom:1px solid #3c3c3c;}
.mobile-nav a{font-family:Arial, sans-serif;display:block;line-height:16px;padding:16px 40px 14px 20px;font-size:14px;color:#777;
	position:relative;background-color:#333;}
.mobile-nav li a.active{background-color:#262626;color:#fff;}
.mobile-nav li.has-children > a:after{content:"";display:block;width:14px;height:14px;position:absolute;right:20px;top:50%;margin-top:-7px;
	background:url(../images/menu-arrow.png) 0 0 no-repeat;transition:all 0.2s ease-in-out 0s;
	background-size:14px;
}
.mobile-nav li.has-children.open > a{background-color:#262626;}
.mobile-nav li.has-children.open > a:after{
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

/*--- Sub Nav ---*/
.sub-nav{display:none;}
.sub-nav > li{border-bottom:1px solid #888;}
.sub-nav > li:last-child{border-bottom:0 none;}
.sub-nav > li a{background-color:#777;font-size:13px;color:#333;padding:15px 20px 11px 20px;min-height:18px;display:block;}

#mobile_nav_wrapper .copyright{padding:20px;text-align:center;color:#777;}

/*----- SEARCH -----*/
.search-form{padding:10px 15px;font-size:0;width:100%;display:none;position:relative;}
.search-open .search-form{display:table;}
.search-form .input-wrapper{border:1px solid #aaa;border-right:0 none;display:inline-block;vertical-align:top;width:100%;position:relative;
	-webkit-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
}
.search-form .input-wrapper .search-box{height:37px;padding:0 40px 0 10px;border:0 none;background-color:#fff;width:100%;
	-webkit-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
	font-size:14px;
	font-family:Arial, sans-serif;
}
.search-form .input-wrapper .search-cancel{height:20px;width:20px;color:#000;position:absolute;right:10px;top:8px;cursor:pointer;
	background:url(../images/icons-sprite.png) -100px 0 no-repeat;background-size:700%;display:block;display:none;
}
.search-form .search-btn{display:table-cell;vertical-align:top;padding:0 9px;width:46px;height:39px;border:0 none;
	-webkit-border-radius:0 4px 4px 0;
	border-radius:0 4px 4px 0;
	background-color:#77C159;
}
#header .search-form .search-btn span{width:20px;height:20px;margin:10px auto 0 auto;background-position:-80px 0;}

/*--- Suggestions List ---*/
.search-form .suggestions-list{position:absolute;left:-1px;right:-46px;top:35px;background-color:#fff;border:1px solid #aaa;display:none;
	-webkit-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
	z-index:2000;
}
.search-form .suggestions-list li{border-top:1px solid #aaa;}
.search-form .suggestions-list li:first-child{border:0 none;}
.search-form .suggestions-list li a{font-size:13px;color:#777;padding:10px 26px 6px 10px;display:block;position:relative;}
.search-form .suggestions-list li a strong{font-weight:normal;color:#6ab344;}
.search-form .suggestions-list li a:after{content:"";display:block;width:14px;height:14px;position:absolute;right:10px;top:50%;margin-top:-7px;
	background:url(../images/icons-sprite.png) -84px 0 no-repeat;background-size:700%;
}

.search-open #content_mask{position:absolute;z-index:1000;top:107px;bottom:0;left:0;right:0;background: rgba(0,0,0,0.85);}